<template>
  <div>
    <b-nav vertical class="w-30">
      <b-nav-item><router-link to="/joblists">Job Lists</router-link></b-nav-item>
      <b-nav-item><router-link to="/postjob">Post Job</router-link></b-nav-item>
      <b-nav-item><router-link to="/company">Resume</router-link></b-nav-item>
      <b-nav-item><router-link to="/resume">Personal Information</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
