<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewCompany"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-company"
      ref="modal-form-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name :"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Password :"
          label-for="password"
          :invalid-feedback="invalidFeedbackPassword"
          :valid-feedback="validFeedbackPassword"
          :state="statePassword"
        >
          <b-form-input
            id="password"
            v-model="form.password"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Address :"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="address"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email :"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Contact :"
          label-for="contact"
          :invalid-feedback="invalidFeedbackContact"
          :valid-feedback="validFeedbackContact"
          :state="stateContact"
        >
          <b-form-input
            id="contact"
            v-model="form.contact"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="companyList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editCompany(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delCompany(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import companyService from './CompanyService'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลบริษัทใหม่',
      form: {
        id: -1,
        name: '',
        password: '',
        address: '',
        email: '',
        contact: ''
      },
      companyList: [],
      fields: [
        'id',
        'name',
        'password',
        'address',
        'email',
        'contact',
        'operation'
      ]
    }
  },
  methods: {
    addNewCompany () {
      console.log('Add new company')
      this.$bvModal.show('modal-form-company')
    },
    editCompany (company) {
      console.log('Edit ')
      console.log(company)
      this.title = 'แก้ไขข้อมูลบริษ'
      this.form = { ...company }
      this.$bvModal.show('modal-form-company')
    },
    delCompany (company) {
      console.log('Del ')
      console.log(company)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + company.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then((value) => {
          if (value) {
            // this.deleteCompany(company)
            companyService.deleteCompany(company)
            this.companyList = companyService.getCompany()
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        password: '',
        address: '',
        email: '',
        contact: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateName === false ||
        this.statePassword === false ||
        this.stateAddress === false ||
        this.stateEmail === false ||
        this.stateContact === false
      ) {
        return
      }

      // Do when pass validation
      if (this.form.id > 0) {
        // this.updateCompany(this.form)
        companyService.updateCompany(this.form)
        this.companyList = companyService.getCompany()
      } else {
        // this.addCompany(this.form)
        companyService.addCompany(this.form)
        this.companyList = companyService.getCompany()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-company')
      })
    },
    addCompany (company) {
      company.id = this.lastId++
      this.companyList.push(company)
    },
    updateCompany (company) {
      const index = this.companyList.findIndex((item) => item.id === company.id)
      this.companyList.splice(index, 1, company)
    },
    deleteCompany (company) {
      const index = this.companyList.findIndex((item) => item.id === company.id)
      this.companyList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    statePassword () {
      return this.form.password.length >= 2
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 2) {
        return ''
      } else if (this.form.password.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่รหัสผ่าน'
      }
    },
    validFeedbackPassword () {
      return this.statePassword === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length >= 2
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 2) {
        return ''
      } else if (this.form.address.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 2) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่อีเมลล์'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    stateContact () {
      return this.form.contact.length >= 2
    },
    invalidFeedbackContact () {
      if (this.form.contact.length > 2) {
        return ''
      } else if (this.form.contact.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่เบอร์โทรติดต่อ'
      }
    },
    validFeedbackContact () {
      return this.stateContact === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.companyList = companyService.getCompany()
  }
}
</script>
